h1 {
  background-image: linear-gradient(white, black);
  color: blue;
  text-align: center;
}

body {
  background-image: url("https://static.wikia.nocookie.net/pokemon-fano/images/6/6f/Poke_Ball.png/revision/latest/scale-to-width-down/767?cb=20140520015336");
  background-repeat: no-repeat;
  background-position: center;
}

li {
  color: green;
}
